.main{
    height: 1300px;
    width: auto;
    /* border: 1px solid black; */
    display: flex;
}
.head
{
    height: 200px;
    width: 800px;
    margin-left: 350px;
    /* border: 1px solid black; */
    margin: 110px 36px 11px 335px;
}
h1{
    font-size: 45px;
    margin-left: 300px;
}
p1{
    font-size: 30px;
    margin-left: 125px;
}
.box
{
    height: 400px;
    width: 485px;
    /* border: 1px solid black; */
    margin: 10px;
    cursor: pointer;
    
    
}
.box:hover
{
    transform: scale(1.1);
    transition: 0.5s ease;
}
