*
{
    padding: 0%;
    margin: 0%;

}
.firstpage
{
    height: 700px;
    width: 1900px;
    /* border: 1px solid black; */
}
.navbar
{
    height: 100px;
    width: 1900px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #F9F9F9;
    /* border: 1px solid black; */
}
.logo
{
 margin-left: 150px;
 margin-top: 30px;
}
ul
{
    float: right;
    list-style-type: none;
    margin-top: 40px;
    margin-right: 100px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    font-size: 20px;
    transition: 0.2s ease;
}
ul li a:hover{
    color: deepskyblue;
}
ul li.home a {
    color: deepskyblue;
}

.cotentarea
{
    height: 599px;
    width: 1900px;
    /* border: 1px solid greenyellow; */
    background-color: #F9F9F9;
}

.leftpace
{
    height: 595px;
    width: 940px;
    /* border: 1px solid brown; */
    display: inline-block;
    
}
h1 {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    color: #0f394c;
    text-transform: uppercase;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 100px;
    font-family: "Dosis", sans-serif;
  }
  h2 {
    color: #1c698c;
    margin: 10px 0 0 0;
    font-size: 20px;
    font-family: "Dosis", sans-serif;
    margin-right: 100px;
    margin-left: 100px;
  }
  .btn-get-started {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 25px;
    color: #fff;
    background: #49b5e7;
    text-transform: uppercase;
    margin-left: 100px;
    margin-bottom: 100px;
    text-decoration: none;
    transition: 0.2 ease;
}
.btn-get-started:hover{
    
   color: #49b5e7;
}
.rightpace
{
    height: 595px;
    width: 940px;
    /* border: 1px solid green; */
    display: inline-block;
    
}
.secondpage
{
    height: 750px;
    width: 1900px;
    border: 1px solid black;
    
}
.leftdown
{
    height: 745px;
    width: 850px;
    border: 1px solid green;
    display: inline-block;
}

.rightdown
{
    height: 745px;
    width: 1020px;
    border: 1px solid brown;
    display: inline-block;
    
}
#playvideo
{
    position: absolute;
    left: 200px;
    top: 200px;
    display: none;
    border: none;
    border-radius: 50%;
}
.rightdown h1 {
    font-size: 30px;
}